- hosts: cluster_master,cluster_slave
  strategy: debug
  roles:
    - role: splunk
- hosts: cluster_master
  roles:
    - role: splunk_cluster_master
- hosts: cluster_slave
  roles:
    - role: splunk_cluster_slave
