- name: Checking if splunk is install
  tags: install
  stat: path="{{ SPLUNK_HOME }}/.."
  register: splunk_path

- name: is Splunk installed?
  tags: install
  debug: msg='splunk is already installed under /opt/splunk/'
  when: splunk_path.stat.exists

- name: unpack splunk.tar.gz
  unarchive:
    src: "{{ SPLUNK_BINARY }}"
    # dest is $SPLUNK_HOME/.., as the tarball contains splunk/ directory
    dest: "{{ SPLUNK_HOME }}/.."
  become: true
  become_user: "{{ SPLUNK_USER }}"
  when: splunk_path.stat.exists == false

- name: start splunk and accept license
  command: "{{ SPLUNK_HOME }}/bin/splunk start --answer-yes --no-prompt --accept-license"
  args:
    creates: "{{ SPLUNK_HOME }}/etc/splunk-launch.conf"
  become: true
  become_user: "{{ SPLUNK_USER }}"

- name: enable boot start
  command: "{{ SPLUNK_HOME }}/bin/splunk enable boot-start -user {{ SPLUNK_USER }}"
  args:
    creates: /etc/init.d/splunk
  become: true

- name: change default password
  command: "{{SPLUNK_HOME}}/bin/splunk edit user admin -password '{{ splunk_new_password }}' -role admin -auth admin:changeme"
  become: true
  become_user: "{{ SPLUNK_USER }}"
