---
# This playbook sets up basic splunk security
- name: copy splunk password file
  tags:
   - install
   - security
  copy:
    src=splunk_creds/{{splunk_passwd}}
    dest=/opt/splunk/etc
    owner=splunk
    group=splunk
    mode=700
  become: true
  become_user: "{{ SPLUNK_USER }}"

- name: create certs folder
  tags:
   - install
   - security
  file:
    path=/opt/splunk/certs
    owner=splunk
    group=splunk
    mode=700
    state=directory
  become: true
  become_user: "{{ SPLUNK_USER }}"

- name: copy ca_server cert
  tags:
   - install
   - security
  copy:
    src=splunk_creds/{{splunk_ca}}
    dest=/opt/splunk/certs
    owner=splunk
    group=splunk
    mode=700
  become: true
  become_user: "{{ SPLUNK_USER }}"

- name: copy server-key.pem
  tags:
   - install
   - security
  copy:
    src=splunk_creds/{{splunk_pem}}
    dest=/opt/splunk/certs
    owner=splunk
    group=splunk
    mode=700
  become: true
  become_user: "{{ SPLUNK_USER }}"

- name: copy authorize.conf
  tags:
    - install
    - security
  copy:
    src=opt/splunk/etc/system/local/authorize.conf
    dest=/opt/splunk/etc/system/local
    owner=splunk
    group=splunk
    mode=700
  become: true
  become_user: "{{ SPLUNK_USER }}"

- name: copy authentication.conf
  tags:
    - install
    - security
  copy:
    src=opt/splunk/etc/system/local/authentication.conf
    dest=/opt/splunk/etc/system/local
    owner=splunk
    group=splunk
    mode=700
  notify: restart splunk
  become: true
  become_user: "{{ SPLUNK_USER }}"
