- name: enable maintainence mode
  command: "{{ SPLUNK_HOME }}/bin/splunk edit user admin -password '{{ splunk_password }}' -role admin -auth admin:'{{ splunk_old_password }}'
  become: true
  become_user: '{{ SPLUNK_USER }}'
