- name: enable maintainence mode
  command: "{{ SPLUNK_HOME }}/bin/splunk disable maintenance-mode -auth admin:{{ splunk_new_password}} --answer-yes"
  become: true
  become_user: "{{ SPLUNK_USER }}"

- name: determine maintenance mode status
  command: "{{ SPLUNK_HOME }}/bin/splunk show maintenance-mode -auth admin:{{ splunk_new_password}} --answer-yes"
  become: true
  become_user: "{{ SPLUNK_USER }}"
