- name: enable maintainence mode
  command: "{{ SPLUNK_HOME }}/bin/splunk enable maintenance-mode -auth admin:'{{ splunk_new_password}}' --answer-yes"
  become: true
  become_user: "{{ SPLUNK_USER }}"
