# INFO: Get syslog-ng .conf names
- name: Get syslog-ng .conf names
  action: shell ls /opt/splunk/Splunk-Configs/syslog-ng/buckets.d/
  register: syslog_output

- name: print syslog .conf file names
  debug: 
     var: search_output.stdout_lines
     