- name: stop splunk
  command: /opt/splunk/bin/splunk stop
  become: true
  become_user: "{{ SPLUNK_USER }}"

- name: Add Peer Nodes to cluster
  copy:
    src: cluster_peer_app
    dest: "{{ SPLUNK_HOME }}/etc/apps"
  become: true
  become_user: "{{ SPLUNK_USER }}"

- name: restart splunk
  command: "{{ SPLUNK_HOME }}/bin/splunk restart"
  become: true
  become_user: "{{ SPLUNK_USER }}"

- name: Wait for Splunk startup
  wait_for: port=8089 timeout=900 delay=30
  ignore_errors: yes
