- name: apply shcluster bundle from deployer
  shell: /opt/splunk/bin/splunk apply shcluster-bundle --answer-yes -target https://usstlecpsplsh01.emrsn.org:8089 -auth admin:"{{ splunk_password }}"
  register: bundle_status
  debug: var=bundle_status.stdout_lines
  become: true
  become_user: splunk
