- name: install cluster_config_app
  copy:
    src: cluster_config_app
    dest: "{{ SPLUNK_HOME }}/etc/apps"
  become: true
  become_user: "{{ SPLUNK_USER }}"

- name: restart splunk
  command: "{{ SPLUNK_HOME }}/bin/splunk restart"
  become: true
  become_user: "{{ SPLUNK_USER }}"

- name: Wait for Splunk startup
  wait_for: port=8089 timeout=30
  ignore_errors: yes

# Set this node to be a searchhead to multiple cluster masters -
- name: configure indexer master-uri on searcheads
  splunk_config_stanza:
   auth_user: admin
   auth_password: "{{ splunk_new_password }}"
   app: cluster_config_app
   file: server
   stanza: clustering
   values:
     mode: searchhead
     master_uri: clustermaster:usstl, clustermaster:gblon, clustermaster:cnhkg

- name: configure USSTL indexer master-uri on searcheads
  splunk_config_stanza:
   auth_user: admin
   auth_password: "{{ splunk_new_password }}"
   app: cluster_config_app
   file: server
   stanza: clustermaster:usstl
   values:
     master_uri: https://usstl-splunk-cm01:8089
     pass4SymmKey: "{{ cluster_secret }}"
   splunklib: "{{ splunklib_1_6_6_location }}/splunklib-1.6.6"

- name: configure GBLON indexer master-uri on searcheads
  splunk_config_stanza:
   auth_user: admin
   auth_password: "{{ splunk_new_password }}"
   app: cluster_config_app
   file: server
   stanza: clustermaster:gblon
   values:
     master_uri: https://uklon-splunk-cm01:8089
   splunklib: "{{ splunklib_1_6_6_location }}/splunklib-1.6.6"

- name: configure CNHKG indexer master-uri on searcheads
  splunk_config_stanza:
   auth_user: admin
   auth_password: "{{ splunk_new_password }}"
   app: cluster_config_app
   file: server
   stanza: clustermaster:cnhkg
   values:
     master_uri: https://cnhkg-splunk-cm01:8089
   splunklib: "{{ splunklib_1_6_6_location }}/splunklib-1.6.6"

- name: restart splunk
  command: "{{ SPLUNK_HOME }}/bin/splunk restart"
  become: true
  become_user: "{{ SPLUNK_USER }}"

- name: Wait for Splunk startup
  wait_for: port=8089 timeout=30
  ignore_errors: yes
