.instrumentation-error-panel {
    display: table;
    padding: 10px 20px;
    
    > * {
        display: table-row;
    }
    
    > * > * {
        display: table-cell;
    }
    
    > * > *:first-child {
        vertical-align: middle;
        padding-right: 10px;
    }
}