p {
    position: relative;
}

.center-vertically {
    position: absolute;
    top: 40%;
    height: 20%;
}

button {
    min-width: 80px;
    &.close {
        min-width: 10px;
    }
}

.date-range-selector-container {
    margin-bottom: 10px;
}

.alert-message {
    margin-bottom: 10px;
}
